$base-accent: #9c27b0;
$base-font-family: "Roboto", "RobotoFallback", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: #ffffff;
$base-label-color: #ffffff99;
$base-icon-color: #ffffff8a;
$base-spin-icon-color: #ffffff8a;
$base-bg: #363640;
$base-border-color: #515159;
$base-success: #8bc34a;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: #ffffff;
$base-hover-bg: #ffffff0d;
$base-focus-color: #000000de;
$base-focus-bg: #ffffff0d;
$base-link-color: #9c27b0;
$material-button-height: 36px;
$material-button-icon-size: 18px;
$material-button-icon-margin: 8px;
$base-border-radius: 4px;
$button-normal-color: #ffffff;
$button-normal-selected-color: #ffffff;
$button-normal-bg: #363640;
$button-normal-hover-bg: #494956;
$button-normal-focused-bg: #494956;
$button-normal-active-bg: #7d7d92;
$button-normal-selected-bg: #606072;
$button-default-color: #000000de;
$button-default-selected-color: #000000de;
$button-default-bg: #9c27b0;
$button-default-hover-bg: #ba31d1;
$button-default-focused-bg: #ba31d1;
$button-default-active-bg: #d582e3;
$button-default-selected-bg: #d582e3;
$button-danger-color: #000000de;
$button-danger-selected-color: #000000de;
$button-danger-bg: #f44336;
$button-danger-hover-bg: #f6695f;
$button-danger-focused-bg: #f6695f;
$button-danger-active-bg: #f99b94;
$button-danger-selected-bg: #f99b94;
$button-success-color: #000000de;
$button-success-selected-color: #000000de;
$button-success-bg: #8bc34a;
$button-success-hover-bg: #a0ce6b;
$button-success-focused-bg: #a0ce6b;
$button-success-active-bg: #bbdc95;
$button-success-selected-bg: #bbdc95;
$list-group-color: #ffffff;
$list-border-color: #515159;
$list-group-header-bg: transparent;
$list-normal-color: #ffffff;
$list-expanded-group-color: #ffffff;
$list-item-hover-bg: #ffffff0d;
$list-item-selected-bg: #6e6e8080;
$list-item-active-bg: #656577;
$fieldset-field-label-color: #ffffff99;
$scrollable-scroll-bg: #707085b3;
$switch-bg: #9494a4;
$switch-handle-off-bg: #616173;
$switch-on-bg: #9c27b080;
$switch-handle-on-bg: #9c27b0;
$tabs-tab-color: #ffffff8a;
$tabs-tab-selected-color: #9c27b0;
$tabs-tab-disabled-color: #ffffff52;
$tabs-selected-tab-border-color: #9c27b0;
$tabs-disabled-tab-border-color: #ffffff66;
$tabs-tab-background: #363640;
$tabs-tab-icon-color: #ffffff8a;
$tabs-tab-icon-selected-color: #9c27b0;
$tabs-tab-icon-disabled-color: #ffffff52;
$tabs-hovered-tab-bg-color: #9c27b014;
$tabs-focused-tab-bg-color: #9c27b01f;
$tabs-active-tab-bg-color: #9c27b029;
$badge-color: #000000de;
$badge-bg: #9c27b0;
$overlay-content-bg: #363640;
$overlay-shader-bg: #0000009c;
$textbox-search-icon-color: #ffffff8a;
$texteditor-color: #ffffff;
$texteditor-placeholder-color: #ffffff99;
$texteditor-bg: #ffffff0a;
$texteditor-focused-bg: #ffffff0a;
$texteditor-border-color: #ffffff6b;
$texteditor-hover-border-color: #ffffff;
$texteditor-focused-border-color: #9c27b0;
$texteditor-hover-bg: #ffffff12;
$dropdowneditor-icon-active-color: #ffffff8a;
$calendar-navigator-text-color: #9c27b0;
$calendar-header-color: #ffffff;
$calendar-cell-other-color: #ffffff61;
$calendar-cell-selected-bg: #9c27b0;
$load-indicator-segment-bg-color: #9c27b0;
$treeview-focused-bg: #ffffff0d;
$menu-color: #ffffff;
$menu-item-selected-bg: #494956;
$selectbox-list-bg: #363640;
$toolbar-bg: #363640;
$popup-title-bg: transparent;
$tileview-color: #ffffff;
$toast-color: #ffffffde;
$toast-info-bg: #000000de;
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44336;
$toast-success-bg: #8bc34a;
$progressbar-bg: #9c27b04d;
$progressbar-range-bg: #9c27b0;
$progressbar-label-color: #ffffff;
$tooltip-color: #ffffff;
$tooltip-bg: #000000;
$material-slider-bar-bg: #9c27b03d;
$material-slider-bg: #9c27b0;
$material-slider-tooltip-color: #ffffff;
$gallery-indicator-bg: #363640;
$gallery-indicator-item-selected-bg: #9c27b0;
$gallery-indicator-focused-bg: #9c27b0;
$gallery-navbutton-hover-color: #9c27b0;
$gallery-navbutton-active-color: #9c27b0;
$loadpanel-content-bg: #363640;
$tagbox-tag-color: #ffffff99;
$tagbox-tag-bg: #525261;
$tagbox-tag-active-color: #ffffff;
$tagbox-tag-button-remove-bg: #0000005c;
$accordion-title-color: #ffffff;
$material-accordion-title-font-size: 14px;
$accordion-item-border-color: #515159;
$accordion-item-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
$material-accordion-item-opened-margin: 16px;
$colorbox-overlay-bg: #363640;
$datagrid-base-background-color: #363640;
$datagrid-columnchooser-item-color: #ffffffb8;
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: #9c27b080;
$datagrid-selection-bg: #9c27b012;
$datagrid-row-selected-border-color: #515159;
$datagrid-row-selected-color: #ffffff;
$datagrid-row-focused-color: #ffffff;
$datagrid-row-focused-bg: #4a3356;
$datagrid-menu-icon-color: #ffffff8a;
$datagrid-cell-modified-border-color: #8bc34a52;
$datagrid-row-invalid-faded-border-color: #f4433652;
$datagrid-group-row-color: #ffffff8a;
$datagrid-group-row-bg: #363640;
$datagrid-search-color: #000000de;
$datagrid-search-bg: #9c27b0;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #a83e3a;
$datagrid-focused-border-color: #882a9a;
$datagrid-editor-bg: transparent;
$datagrid-row-alternation-bg: #3f3f4b;
$datagrid-summary-color: #ffffffb3;
$pager-page-selected-color: #000000de;
$pager-page-selected-bg: #9c27b0;
$pivotgrid-area-color: #ffffff8a;
$pivotgrid-totalcolor: #17171b33;
$pivotgrid-grandtotalcolor: #ffffff0d;
$pivotgrid-field-area-text-color: #bcbcbc4d;
$fileuploader-filename-color: #ffffff;
$fileuploader-falename-status-color: #ffffff;
$fileuploader-border-color: #515159;
$scheduler-base-border-color: #515159;
$scheduler-accent-border-color: #515159;
$scheduler-appointment-text-color: #000000de;
$scheduler-appointment-base-color: #9c27b0;
$scheduler-appointment-start-color: #0000004d;
$scheduler-workspace-focused-cell-color: #9c27b01f;
$scheduler-first-month-border-color: #515159;
$scheduler-current-time-cell-color: #9c27b0;
$form-field-item-color: #ffffff99;
$form-group-border-color: #515159;
$filterbuilder-text-color: #ffffff;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #8bc34ab3;
$filterbuilder-remove-icon-color: #f44336b3;
$filterbuilder-group-operation-color: #f443364d;
$filterbuilder-item-field-color: #9c27b04d;
$filterbuilder-item-operator-color: #8bc34a4d;
$filterbuilder-item-value-color: #51515980;
$drawer-shader-background-color: #00000080;
